In [25]:
import pandas as pd, numpy as np
from sklearn import preprocessing
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [2]:
data = pd.read_csv('data/cdc_zika.csv')

C:\Users\Shetty\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [120]:
data.location_type.unique()

array(['province', 'state', 'region', 'municipality', nan, 'country',
       'county', 'department', 'Department', 'district', 'city',
       'territory'], dtype=object)

In [6]:
data.unit.unique()

array(['cases', 'municipalities', nan], dtype=object)

In [7]:
data.data_field.unique()

array(['cumulative_confirmed_local_cases',
       'cumulative_probable_local_cases',
       'cumulative_confirmed_imported_cases',
       'cumulative_probable_imported_cases',
       'cumulative_cases_under_study', 'cumulative_cases_discarded',
       'microcephaly_under_investigation', 'microcephaly_confirmed',
       'microcephaly_not', 'municipality_microcephaly',
       'microcephaly_fatal_under_investigation',
       'microcephaly_fatal_confirmed', 'microcephaly_fatal_not',
       'municipality_microcephaly_suspected', 'zika_reported',
       'zika_confirmed_laboratory', 'zika_confirmed_clinic',
       'zika_suspected', 'zika_suspected_clinic', nan,
       'total_zika_new_suspected', 'total_zika_new_confirmed_pcr',
       'zika_new_confirmed_pcr_f', 'zika_new_confirmed_pcr_m',
       'efe_reported', 'zika_suspected_cumulative',
       'zika_suspected_pregnant_cumulative',
       'zika_confirmed_pcr_cumulative', 'zika_suspected_pregnant',
       'gbs_reported', 'gbs_zika_confirmed', 'gbs_zika_confirmed_pregnant',
       'gbs_confirmed_cumulative', 'gbs_reported_cumulative',
       'microcephaly_confirmed_cumulative', 'microcephaly_suspected',
       'microcephaly_suspected_cumulative',
       'zika_confirmed_pregnant_cumulative', 'zika_suspected_4weeks',
       'gbs_reported_4weeks', 'microcephaly_suspected_4weeks',
       'total_zika_suspected_cumulative',
       'total_zika_confirmed_cumulative',
       'total_zika_confirmed_autochthonous',
       'total_zika_confirmed_imported', 'total_zika_confirmed_pregnant',
       'total_zika_confirmed_ages_0-11mo_F',
       'total_zika_confirmed_ages_0-11mo_M',
       'total_zika_confirmed_ages_1-4yrs_F',
       'total_zika_confirmed_ages_1-4yrs_M',
       'total_zika_confirmed_ages_5-9yrs_F',
       'total_zika_confirmed_ages_5-9yrs_M',
       'total_zika_confirmed_ages_10-14yrs_F',
       'total_zika_confirmed_ages_10-14yrs_M',
       'total_zika_confirmed_ages_15-19yrs_F',
       'total_zika_confirmed_ages_15-19yrs_M',
       'total_zika_confirmed_ages_20-49yrs_F',
       'total_zika_confirmed_ages_20-49yrs_M',
       'total_zika_confirmed_ages_50-64yrs_F',
       'total_zika_confirmed_ages_50-64yrs_M',
       'total_zika_confirmed_ages_over65_F',
       'total_zika_confirmed_ages_over65_M',
       'total_zika_confirmed_Not-Aplicable', 'cumulative_suspected_total',
       'cumulative_suspected_pregnant', 'cumulative_suspected_age_under_1',
       'cumulative_suspected_age_1-4', 'cumulative_suspected_age_5-9',
       'cumulative_suspected_age_10-19', 'cumulative_suspected_age_20-29',
       'cumulative_suspected_age_30-39', 'cumulative_suspected_age_40-49',
       'cumulative_suspected_age_50-59',
       'cumulative_suspected_age_60_plus', 'weekly_hospitalized',
       'cumulative_confirmed', 'total_zika_suspected',
       'total_zika_suspected_M', 'total_zika_suspected_F',
       'total_zika_confirmed', 'total_zika_confirmed_F',
       'total_zika_confirmed_M',
       'total_zika_confirmed_pregnant_cumulative',
       'total_zika_new_suspected_cumulative', 'weekly_zika_confirmed',
       'yearly_cumulative_female', 'yearly_cumulative_male',
       'normal_birth_confirmed_zika', 'Zika_confirmed_laboratory_2015',
       'Zika_confirmed_laboratory_2016', 'Zika_confirmed_F',
       'Zika_confirmed_M', 'confirmed_age_under_1', 'confirmed_age_1-4',
       'confirmed_age_5-9', 'confirmed_age_10-14', 'confirmed_age_15-19',
       'confirmed_age_20-24', 'confirmed_age_25-34', 'confirmed_age_35-49',
       'confirmed_age_50-59', 'confirmed_age_60-64',
       'confirmed_age_60_plus', 'weekly_Zika_confirmed_asymptomatic',
       'weekly_Zika_confirmed_pending', 'weekly_Zika_confirmed_local',
       'weekly_Zika_confirmed_imported', 'Zika_positive_pregnant',
       'Zika_negative_pregnant', 'zika_confirmed_2weeks',
       'zika_confirmed_cumulative_2016', 'flavi_confirmed_cumulative_2016',
       'zika_confirmed_cumulative_2015-2016',
       'zika_confirmed_pregnant_cumulative_2015-2016',
       'zika_confirmed_pregnant_symptomatic_cumulative_2015-2016',
       'zika_confirmed_pregnant_asymptomatic_cumulative_2015-2016',
       'GBS_reported_cumulative_2015-2016', 'arbovirus_suspected_2weeks',
       'arbovirus_suspected_cumulative_2015', 'zika_confirmed_4weeks',
       'arbovirus_suspected_cumulative_2016', 'arbovirus_suspected_4weeks',
       'GBS_reported_cumulative_2015-2016_zika',
       'GBS_reported_cumulative_2015-2016_flavi',
       'congenital_developmental_defects_reported_cummulative_2015-2016',
       'congenital_developmental_defects_reported_cumulative_2015-2016',
       'zika_reported_travel', 'zika_reported_local',
       'yearly_reported_travel_cases', 'zika_lab_positive', 'zika_not',
       'zika_pending', 'confirmed_age_under20', 'confirmed_age_20to39',
       'confirmed_age_40to59', 'confirmed_age_over59', 'confirmed_age_unk',
       'confirmed_male', 'confirmed_female', 'confirmed_fever',
       'confirmed_acute_fever', 'confirmed_arthralgia',
       'confirmed_arthritis', 'confirmed_rash', 'confirmed_conjunctivitis',
       'confirmed_eyepain', 'confirmed_headache', 'confirmed_malaise',
       'zika_no_specimen'], dtype=object)

In [8]:
data.shape

(107619, 9)

In [4]:
# Only consider cases where there is 100% certainity of zika outbreak
zika_present = ['cumulative_confirmed_local_cases','cumulative_confirmed_imported_cases','microcephaly_confirmed','microcephaly_fatal_under_investigation','microcephaly_fatal_confirmed', 'microcephaly_fatal_not', 'zika_confirmed_laboratory', 'zika_confirmed_clinic','total_zika_new_confirmed_pcr','zika_new_confirmed_pcr_f', 'zika_new_confirmed_pcr_m',
'zika_confirmed_pcr_cumulative','gbs_reported', 'gbs_zika_confirmed', 'gbs_zika_confirmed_pregnant',
'gbs_confirmed_cumulative','microcephaly_confirmed_cumulative','zika_confirmed_pregnant_cumulative',
'total_zika_confirmed_cumulative','total_zika_confirmed_autochthonous','total_zika_confirmed_imported', 'total_zika_confirmed_pregnant',
'total_zika_confirmed_ages_0-11mo_F',
       'total_zika_confirmed_ages_0-11mo_M',
       'total_zika_confirmed_ages_1-4yrs_F',
       'total_zika_confirmed_ages_1-4yrs_M',
       'total_zika_confirmed_ages_5-9yrs_F',
       'total_zika_confirmed_ages_5-9yrs_M',
       'total_zika_confirmed_ages_10-14yrs_F',
       'total_zika_confirmed_ages_10-14yrs_M',
       'total_zika_confirmed_ages_15-19yrs_F',
       'total_zika_confirmed_ages_15-19yrs_M',
       'total_zika_confirmed_ages_20-49yrs_F',
       'total_zika_confirmed_ages_20-49yrs_M',
       'total_zika_confirmed_ages_50-64yrs_F',
       'total_zika_confirmed_ages_50-64yrs_M',
       'total_zika_confirmed_ages_over65_F',
       'total_zika_confirmed_ages_over65_M',
       'cumulative_confirmed', 
       'total_zika_confirmed', 'total_zika_confirmed_F',
       'total_zika_confirmed_M',
       'total_zika_confirmed_pregnant_cumulative',
       'weekly_zika_confirmed',
       'Zika_confirmed_laboratory_2015',
       'Zika_confirmed_laboratory_2016', 'Zika_confirmed_F',
       'Zika_confirmed_M', 'confirmed_age_under_1', 'confirmed_age_1-4',
       'confirmed_age_5-9', 'confirmed_age_10-14', 'confirmed_age_15-19',
       'confirmed_age_20-24', 'confirmed_age_25-34', 'confirmed_age_35-49',
       'confirmed_age_50-59', 'confirmed_age_60-64',
       'confirmed_age_60_plus', 'weekly_Zika_confirmed_asymptomatic',
       'weekly_Zika_confirmed_local',
       'weekly_Zika_confirmed_imported', 'Zika_positive_pregnant',
       'zika_confirmed_2weeks',
       'zika_confirmed_cumulative_2016', 'flavi_confirmed_cumulative_2016',
       'zika_confirmed_cumulative_2015-2016',
       'zika_confirmed_pregnant_cumulative_2015-2016',
       'zika_confirmed_pregnant_symptomatic_cumulative_2015-2016',
       'zika_confirmed_pregnant_asymptomatic_cumulative_2015-2016',
       'zika_confirmed_4weeks',
       'GBS_reported_cumulative_2015-2016_zika',
       'GBS_reported_cumulative_2015-2016_flavi',
       'congenital_developmental_defects_reported_cummulative_2015-2016',
       'congenital_developmental_defects_reported_cumulative_2015-2016',
       'zika_lab_positive',
       'confirmed_age_under20', 'confirmed_age_20to39',
       'confirmed_age_40to59', 'confirmed_age_over59', 'confirmed_age_unk',
       'confirmed_male', 'confirmed_female']

In [6]:
data_reduced = data[['report_date','location','data_field','value']]

data_reduced.dropna(inplace=1)

C:\Users\Shetty\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [7]:
def zikapresent(row):
    try:
        if ((row['data_field'] in zika_present) & (float(row['value']) > 0) ):
            return 1
        else:
            return 0
    except Exception:
        return 0

In [8]:
data_reduced['zika_confirmed'] = data_reduced.apply(zikapresent,axis=1)

C:\Users\Shetty\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
data_final = data_reduced.groupby(['report_date','location']).agg({'zika_confirmed':max}).reset_index()

In [10]:
data_final.head()

  report_date                  location  zika_confirmed
0  2015-11-28               El_Salvador               0
1  2015-11-28    El_Salvador-Ahuachapan               0
2  2015-11-28       El_Salvador-Cabanas               0
3  2015-11-28  El_Salvador-Chalatenango               0
4  2015-11-28     El_Salvador-Cuscatlan               0

In [12]:
# How many countries are present in the data
print np.unique([location.split("-")[0] for location in data_final.location])

['Argentina' 'Brazil' 'Centro' 'Colombia' 'Dominican_Republic' 'Ecuador'
 'El_Salvador' 'Guatemala' 'Haiti' 'Mexico' 'Nicaragua' 'Nordeste' 'Norte'
 'Panama' 'Puerto_Rico' 'Sudeste' 'Sul' 'United_States'
 'United_States_Virgin_Islands']

In [13]:
data_final.zika_confirmed.value_counts()

0    23606
1    10724
Name: zika_confirmed, dtype: int64

In [14]:
# Save this data frame (location and date) as a guidance for pulling in weather data (@Sanath)
data_final.to_csv('data/zika_data_processed.csv',index=None)

In [15]:
# Read in the available lat/lon based on zika_data_processed
data_lat_lon = pd.read_csv('data/zika_data_processed_lat_lon.csv')

In [16]:
data_lat_lon.head()

  report_date location  zika_confirmed        lat    long
0      4/2/16    Norte               0  19.568772 -72.189
1     4/23/16    Norte               0  19.568772 -72.189
2     4/30/16    Norte               0  19.568772 -72.189
3      5/7/16    Norte               0  19.568772 -72.189
4     5/14/16    Norte               0  19.568772 -72.189

In [18]:
len(data_lat_lon.location.unique())

1202

In [19]:
# Fewer countries extracted because of issues in location fields (@Max)
np.unique([location.split("-")[0] for location in data_lat_lon.location])

array(['Argentina', 'Brazil', 'Centro', 'Colombia', 'Nordeste', 'Norte',
       'Sudeste', 'Sul'],
      dtype='|S9')

In [21]:
# Read in weather data 
data_weather = pd.read_csv('data/zika_weather.csv')

In [22]:
data_weather.head()

,report_date,location,lat,long,dewPt_max,dewPt_mean,dewPt_min,precip_total_max,precip_total_mean,precip_total_min,pressure_max,pressure_mean,pressure_min,temp_max,temp_mean,temp_min,wspd_max,wspd_mean,wspd_min
0,1/9/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,98,10.54464286,5,None,None,None,754.51,752.4095946,745.33,98,15.34821429,6,33,10.60909091,4
1,1/16/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,13,8.688888889,2,None,None,None,754.51,752.3409375,750.05,23,13.63111111,2,28,9.769953052,4
2,1/23/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,13,8.641666667,-1,None,None,None,754.76,752.5614644,750.05,23,13.625,2,30,9.164502165,4
3,2/6/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,13,8.530701754,-6,None,None,None,754.26,752.2243612,749.8,24,14.17982456,4,31,10.1146789,4
4,6/13/16,Argentina-San_Juan,-31.535107,-68.538594,4,-0.365384615,-4,None,None,None,964.4,953.6888889,947,17,6.555555556,-3,33,11.64705882,4

In [23]:
weather_columns = [u'dewPt_max',u'dewPt_mean', u'dewPt_min', u'precip_total_max', u'precip_total_mean',
       u'precip_total_min', u'pressure_max', u'pressure_mean', u'pressure_min',u'temp_max', u'temp_mean',
                   u'temp_min', u'wspd_max', u'wspd_mean',u'wspd_min']

In [24]:
data_weather[weather_columns] = data_weather[weather_columns].convert_objects(convert_numeric=True)

C:\Users\Shetty\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [26]:
# Impute any missing values with mean
imp = preprocessing.Imputer()
data_weather[weather_columns] = imp.fit_transform(data_weather[weather_columns])

In [29]:
# Rescale to account for each columns being on a different scale (or units)
data_weather[weather_columns] = preprocessing.scale(data_weather[weather_columns])

In [31]:
data_weather.head()

,report_date,location,lat,long,dewPt_max,dewPt_mean,dewPt_min,precip_total_max,precip_total_mean,precip_total_min,pressure_max,pressure_mean,pressure_min,temp_max,temp_mean,temp_min,wspd_max,wspd_mean,wspd_min
0,1/9/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,9.649325,-1.454919,-1.401169,6.270825e-16,1.175847e-15,9.924592e-16,-1.177345,-1.494531,-1.403926,8.789665,-1.490906,-1.804205,0.106652,-0.181011,-0.568948
1,1/16/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,-1.108508,-1.811340,-1.855505,6.270825e-16,1.175847e-15,9.924592e-16,-1.177345,-1.495253,-1.356565,-1.034095,-1.793407,-2.427326,-0.047103,-0.414935,-0.568948
2,1/23/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,-1.108508,-1.820409,-2.309840,6.270825e-16,1.175847e-15,9.924592e-16,-1.175393,-1.492933,-1.356565,-1.034095,-1.794484,-2.427326,0.014399,-0.583715,-0.568948
3,2/6/16,"Colombia-Bogota-Bogota, _D.C.",4.710989,-74.072092,-1.108508,-1.841721,-3.067066,6.270825e-16,1.175847e-15,9.924592e-16,-1.179296,-1.496479,-1.359074,-0.903111,-1.696741,-2.115765,0.045150,-0.318837,-0.568948
4,6/13/16,Argentina-San_Juan,-31.535107,-68.538594,-2.247573,-3.550325,-2.764176,6.270825e-16,1.175847e-15,9.924592e-16,0.461100,0.622834,0.619641,-1.819995,-3.039905,-3.206228,0.106652,0.108341,-0.568948

In [32]:
merged_data = data_weather.merge(data_lat_lon,on=['report_date','lat','long'])

In [33]:
merged_data.drop(['report_date','location_x','location_y','lat','long'],axis=1,inplace=1)

In [34]:
merged_data.head()

,dewPt_max,dewPt_mean,dewPt_min,precip_total_max,precip_total_mean,precip_total_min,pressure_max,pressure_mean,pressure_min,temp_max,temp_mean,temp_min,wspd_max,wspd_mean,wspd_min,zika_confirmed
0,9.649325,-1.454919,-1.401169,6.270825e-16,1.175847e-15,9.924592e-16,-1.177345,-1.494531,-1.403926,8.789665,-1.490906,-1.804205,0.106652,-0.181011,-0.568948,0
1,-1.108508,-1.811340,-1.855505,6.270825e-16,1.175847e-15,9.924592e-16,-1.177345,-1.495253,-1.356565,-1.034095,-1.793407,-2.427326,-0.047103,-0.414935,-0.568948,0
2,-1.108508,-1.820409,-2.309840,6.270825e-16,1.175847e-15,9.924592e-16,-1.175393,-1.492933,-1.356565,-1.034095,-1.794484,-2.427326,0.014399,-0.583715,-0.568948,0
3,-1.108508,-1.841721,-3.067066,6.270825e-16,1.175847e-15,9.924592e-16,-1.179296,-1.496479,-1.359074,-0.903111,-1.696741,-2.115765,0.045150,-0.318837,-0.568948,0
4,-2.247573,-3.550325,-2.764176,6.270825e-16,1.175847e-15,9.924592e-16,0.461100,0.622834,0.619641,-1.819995,-3.039905,-3.206228,0.106652,0.108341,-0.568948,0

In [35]:
# Save the data to build a logistic regression model
merged_data.to_csv('data/data_for_modelling.csv',index=None)

In [36]:
merged_data.zika_confirmed.value_counts()

0    19538
1     9300
Name: zika_confirmed, dtype: int64

In [37]:
# Dorian: Can you fill in the steps where yo built the model